.alert-danger {
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.restaurant-details {
    display: flex;
    justify-content: space-between;
    padding: 70px;
    margin-top: 30px;

    .left,
    .right {
        width: 45%;
    }

    .left {
        img {
            max-width: 100%;
            border-radius: 8px;
        }

        h2 {
            font-size: 30px;
            margin-top: 10px;
            position: relative;
            font-family: "Zen Kaku Gothic New", sans-serif;
            font-weight: bold;

            .back-arrow {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                padding-bottom: 10px;
                padding-right: 2px;
                text-decoration: none;
                color: #fff;
                border: 1px solid rgb(2, 153, 153);
                background: rgb(2, 153, 153);
                border-radius: 5px;
                width: 40px;
                height: 40px;

                &:hover {
                    background: rgb(6, 75, 75);
                }
            }
        }
    }

    .right {
        background-color: #f8f9fa;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        height: 100%;
        background: rgb(2, 153, 153);
        margin-top: 30px;

        h2 {
            font-family: "Zen Kaku Gothic New", sans-serif;
            font-size: 25px;
            color: #fff;
            padding: 20px;
            margin-bottom: 10px;
        }

        form {
            display: flex;
            flex-direction: column;
            font-family: "Zen Kaku Gothic New", sans-serif;
            color: #fff;
            border-radius: 8px;

            div {
                margin: 10px;

                label {
                    display: block;
                    font-weight: bold;
                    color: #fff;
                }

                input {
                    padding: 10px;
                    border: 1px solid #dee2e6;
                    border-radius: 8px;
                    color: black;
                    background: #fff;

                    &[type="date"] {
                        width: 30%;
                    }

                    &[type="time"],
                    &[type="number"] {
                        width: 100%;
                        appearance: none;
                    }
                }
            }

            button {
                padding: 10px 15px;
                margin-top: 70px;
                background-color: rgb(6, 75, 75);
                color: white;
                border-radius: 8px;
                cursor: pointer;
                font-size: 18px;

                &:hover {
                    background-color: #016767;
                }
            }
        }

        .confirm {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 8px;
            font-weight: bold;
            padding-left: 20px;

            .confirm-p {
                padding: 5px;
                font-size: 18px;
            }

            #confirmDate,
            #confirmTime,
            #confirmGuests {
                font-size: 20px;
                font-weight: 400;
                font-family: "Quicksand", sans-serif;
            }

            .confirm-value {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 768px) {
    .restaurant-details {
        flex-direction: column;
        padding: 10px 30px;
        margin-top: 70px;

        .left,
        .right {
            width: 100%;
            margin-bottom: 20px;
        }

        .right {
            form {
                button {
                    margin-top: 20px;
                    width: 100%;
                }
            }
        }
    }
}
