.message {
    text-align: center;
    margin: 20px;
    color: red;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 20px;

    &-session {
        display: block;
    }
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 110px;

    .search-bar {
        position: absolute;
        right: 150px;

        &__form {
            gap: 10px;
        }

        &__input {
            padding: 10px 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-family: "Zen Kaku Gothic New", sans-serif;
            width: 200px;
        }

        &__button {
            padding: 10px 20px;
            font-size: 14px;
            border: 1px solid #1758f0;
            background: #1758f0;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-family: "Zen Kaku Gothic New", sans-serif;
            margin: 10px;

            &:hover {
                background: #6565eb;
            }
        }
    }
}

.store-management {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 10%;

    .store-form,
    .store-info,
    .reservations {
        width: 100%;
        padding: 10px;
        gap: 10px;
        background: #fff;
        border: 1px solid #1758f0;
        border-radius: 8px;
        text-align: center;

        h2 {
            font-family: "Zen Kaku Gothic New", sans-serif;
            font-weight: 400;
            text-align: center;
            margin: 20px 0;
        }

        p {
            font-family: "Zen Kaku Gothic New", sans-serif;
            margin: 10px;
            font-size: 16px;
        }

        input,
        textarea,
        select {
            width: 100%;
            max-width: 350px;
            font-family: "Zen Kaku Gothic New", sans-serif;
            padding: 10px;
            margin-bottom: 20px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;

            &::placeholder {
                font-family: "Zen Kaku Gothic New", sans-serif;
            }
        }

        button {
            padding: 10px 20px;
            font-size: 14px;
            border: 1px solid #1758f0;
            background: #1758f0;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-family: "Zen Kaku Gothic New", sans-serif;
            margin: 10px;

            &:hover {
                background: #6565eb;
            }
        }
    }
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center;

        .search-bar {
            position: static;
            margin-top: 10px;
        }
    }

    .store-management {
        flex-direction: column;
        text-align: center;
        padding: 30px;

        .store-form input,
        .store-info input,
        .store-form textarea,
        .store-info textarea {
            max-width: 100%;
        }
    }
}
