.nav-search {
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-block-end: 5px;

    &__area,
    &__genre {
        margin-right: 10px;
        font-family: "Zen Kaku Gothic New", sans-serif;
        border-right: 1px solid #ddd;
        padding-right: 10px;

        select {
            border: none;
            background-color: transparent;
            font-family: "Zen Kaku Gothic New", sans-serif;
            padding: 10px;

            &::after {
                content: "\ell4";
                font-family: "Zen Kaku Gothic New", sans-serif;
                float: right;
                color: #000;
            }
        }
    }
}

.search {
    display: flex;
    align-items: center;
    padding: 10px;

    &__icon {
        margin-right: 5px;
        width: 30px;
        height: 30px;
    }

    &__input {
        border: none;
        border-radius: 4px;
        background: #fff;
        font-family: "Zen Kaku Gothic New", sans-serif;
        font-size: 14px;
    }

    &__submit {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        border: 1px solid #1758f0;
        background: #1758f0;
        border-radius: 4px;
        font-size: 14px;
        padding: 5px 10px;
        text-align: center;
        font-family: "Zen Kaku Gothic New", sans-serif;
        transition: background 0.2s ease;
        margin-right: 10px;
        cursor: pointer;

        &:hover {
            background: #6565eb;
        }
    }
}

@media (max-width: 768px) {
    .nav-search {
        flex-direction: column;
        margin: 10px;
        margin-left: 20px;
        align-items: center;

        &__area,
        &__genre {
            border: none;
        }
    }
}
