.message {
    text-align: center;
    margin-top: 110px;
    color: red;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 20px;
}
.message-session {
    display: block;
}
.message-name {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: black;
    
}
.mypage {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
}
.reservation-info,
.favorite-info {
    width: 48%;
    background-color: #fff;
    padding: 10px;
    font-family: "Zen Kaku Gothic New", sans-serif;
}
.mypage .reservation-info h2,
.mypage .favorite-info h2,
.mypage .reservation-info h1 {
    font-size: 25px;
    margin-bottom: 20px;
}
.mypage .reservation-info p,
.mypage .favorite-info p {
    margin: 10px;
}

.reservation-card {
    background: #1758f0;
    color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    position: relative;
}
.reservation-card .reservation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Quicksand", sans-serif;
}
.reservation__icon {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}
.reservation-card .reservation-header .reservation-title {
    font-size: 25px;
    font-weight: bold;
    font-family: "Zen Kaku Gothic New", sans-serif;
    margin: 5px;
}
.reservation-card .reservation-cancel-btn {
    background-color: #1758f0;
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 10px;
}

.strong {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    width: 200px;
    text-align: left;
    padding-left: 10px;
}

.reservation-details {
    display: flex;
    flex-direction: column;
}

.reservation-card .reservation-details p {
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 16px;
    color: #fff;
    font-family: "Quicksand", sans-serif;
}

.button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.change-book__button {
    width: auto;
    margin: 10px;
    padding: 10px;
    background-color: #1758f0;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    font-family: "Zen Kaku Gothic New", sans-serif;
}

.qr-link {
    margin: 10px;
    padding: 5px;
}

.qr-link a {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-family: "Zen Kaku Gothic New", sans-serif;
}

.qr-link a:hover {
    color: antiquewhite;
}

.stripe-link {
    margin: 10px;
    padding: 5px;
}

.stripe-link a {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-family: "Zen Kaku Gothic New", sans-serif;
}

.stripe-link:hover {
    color: antiquewhite;
}

.payment-completed {
    font-size: 17px;
    font-family: "Zen Kaku Gothic New", sans-serif;
}

.change-book {
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    align-items: flex-end;
}

.change-book__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
}

.change-book_label {
    color: #fff;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    flex-basis: 40%;
    max-width: 40%;
    text-align: left;
    padding-left: 10px;
    font-size: 17px;
    margin-right: 23px;
}

.change-book_input {
    flex: 1;
    color: #fff;
    font-family: "Zen Kaku Gothic New", sans-serif;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #000;
    max-width: 100%;
    box-sizing: border-box;
}

.change-book__submit {
    width: auto;
    padding: 10px;
    background-color: #1758f0;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-family: "Zen Kaku Gothic New", sans-serif;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.favorite-shops {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.favorite-shops .favorite-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: calc(50% - 10px);
}
.favorite-shops .favorite-card h3 {
    margin: 10px;
    font-size: 20px;
}
.favorite-shops .favorite-card p {
    font-size: 13px;
    margin: 10px;
    padding-left: 10px;
    color: #6c757d;
}
.favorite-shops .favorite-card .favorite-img {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
}
.favorite-shops .favorite-card .favorite-link {
    color: #fff;
    text-decoration: none;
    border: 1px solid #1758f0;
    background: #1758f0;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
}
.favorite-shops .favorite-card .favorite-btn {
    background: none;
    border: none;
    position: absolute;
    bottom: 15px;
    right: 10px;
    color: red;
    width: 30px;
    height: 30px;
    font-size: 35px;
    cursor: pointer;
}
.favorite-shops .favorite-card .favorite-link:hover {
    background-color: #6565eb;
    color: #fff;
}
.favorite-shops .favorite-card .favorite-btn:hover {
    color: #ddd;
}
@media (max-width: 768px) {
    .mypage {
        flex-direction: column;
        padding: 20px;
    }
    .mypage .reservation-info,
    .mypage .favorite-info {
        width: 100%;
        margin-bottom: 20px;
    }
    .change-book__button,
    .change-book__submit {
        display: block;
        width: 20%;
        margin: 10px 0;
        font-size: 16px;
        align-items: end;
    }
    .change-book {
        align-items: flex-end;
    }

    .change-book__div {
        flex-direction: column;
        align-items: stretch;
        gap: 5px;
    }

    .change-book_label,
    .change-book_input {
        flex-basis: auto;
        width: 100%;
        max-width: 100%;
    }

    .change-book_label:last-child {
        padding-left: 30px;
    }

    .change-book__button,
    .change-book__submit {
        width: auto;
        font-size: 16px;
    }
    .change-book__button {
        margin: 10px;
    }
    .reservation-card .reservation-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .reservation-card .reservation-title {
        font-size: 20px;
    }
    .reservation-card .reservation-cancel-btn {
        width: 25px;
        height: 25px;
        font-size: 14px;
    }

    .favorite-shops .favorite-card {
        grid-template-columns: 1fr;
    }
}
/*# sourceMappingURL=mypage.css.map */
